version: '2'
services:
    nginx:
        image: nginx:alpine
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
        command: [nginx-debug, '-g', 'daemon off;']
        links:
            - suma
            - resta
            - multiplicacion
            - division
        ports:
            - "8080:80"
        
    suma:
        build: ./suma

    resta:
        build: ./resta

    multiplicacion:
        build: ./multiplicacion

    division:
        build: ./division